.boxContainer {
    display: flex;
    flex-direction: row;
}

.redBox { 
    background-color: #F36523;
    height: 50px;
    width: 50px;
    margin: 2px;
}

.greenBox {
    background-color: #8DC73F;
    height: 50px;
    width: 50px;
    margin: 2px;
}

.blueBox {
    background-color: #00adef;
    height: 50px;
    width: 50px;
    margin: 2px;
}

.yellowBox {
    background-color: #FFC20F;
    height: 50px;
    width: 50px;
    margin: 2px;
}